@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.main-app {
    width: 800px;
    height: auto;
    border: 1px solid rgb(252, 252, 252);
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 10px auto;
    font-family: 'Roboto', sans-serif;
}